{% extends "employee_management/base_location_2.html" %}

{% block content %}

<div class="container">
    <div class="font-weight-bold">

        Edit General Notes
    </div>
    <div>
    <br>

        Always start individual notes with a "-"
    </div>
    <form action="" method="post">
        {% csrf_token %}
        {{form.as_table}}
        <br>
        <div class="col text-center">
            <input class="btn btn-outline-primary" type="submit">
            <a href="{% url 'view-general-notes' %}">
                <input type="button" class="btn btn-outline-secondary" value="return">
            </a>
        </div>
    </form>
</div>

{% endblock %}