{% extends "employee_management/base_location_2.html" %}
{% load tags_extra %}

{% block content %}


<div class="table-responsive">


<br>
<div class="text-center">
<h3>
    {{log_count}} logged items
</h3>
</div>


<table class="table table-hover table-striped table-bordered table-lg" cellspacing="0" width="100%">
    <thead class="thead-dark">
        <th>User</th>
        <th>Date</th>
        <th>Log</th>
        <th>Item Affected</th>
        <th>Item ID</th>
        <th>Change</th>

    </thead>
    {% for log in logs %}

    {% if log|startswith:'Added' %}
    <tr class="table-success">
        <td>{{ log.user}}</td>
        <td>{{ log.action_time|date:"d/m/Y - g:ia" }}</td>
        <td>{{log}}</td>
        <td>{{ log.object_repr }}</td>
        <td>{{ log.object_id }}</td>
        <td>{{ log.change_message }}</td>
    </tr>

    {% elif log|startswith:'Changed' %}
    <tr class="table-info">
        <td>{{ log.user}}</td>
        <td>{{ log.action_time|date:"d/m/Y - g:ia" }}</td>
        <td>{{log}}</td>
        <td>{{ log.object_repr }}</td>
        <td>{{ log.object_id }}</td>
        <td>{{ log.change_message }}</td>
    </tr>

    {% elif log|startswith:'Deleted' %}
    <tr class="table-danger">
        <td>{{ log.user}}</td>
        <td>{{ log.action_time|date:"d/m/Y - g:ia" }}</td>
        <td>{{log}}</td>
        <td>{{ log.object_repr }}</td>
        <td>{{ log.object_id }}</td>
        <td>
            <a class="d-flex justify-content-center btn btn-outline-primary" href="{% url 'undo-action' log.object_id log.object_repr %}">
                Undo
            </a>
            </td>
    </tr>



    {% endif %}
    {% endfor %}

</table>

</div>


{% endblock %}