{% extends "employee_management_dev/base_location.html" %}

{% block content %}

<br>

<div class="container">
    <form action="" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <div class="col text-center">
            <input class="btn btn-outline-primary" type="submit">
            <a href="/employee_management_dev/locations">
                <input type="button" class="btn btn-outline-secondary" value="return">
            </a>
        </div>
    </form>
</div>


{% endblock %}